.AutoWidthLabel .cat-label-text {
    width: auto;
    display: inline-block;
    white-space: nowrap;
    border-style: solid;
}

.AutoWidthLabel .cat-label-text-container {
    display: inline-block;
    box-sizing: border-box;
}